lens-info-button::part(info-button) {
    position: relative;
    cursor: pointer;
    height: 38px;
    width: 38px;
    background-color: var(--white);
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
    padding: 0;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

lens-info-button::part(info-button-title) {
    font-family: var(--font-family);
}

lens-info-button::part(info-button-dialogue) {
    position: absolute;
    border: none;
    background-color: var(--white);
    width: max-content;
    max-width: 80vw;
    z-index: 100;
    padding: var(--gap-s);
    top: 40px;
    right: 0px;
    border: solid 1px var(--light-blue);
    border-radius: var(--border-radius-small);
}

  lens-info-button::part(info-button-icon) {
    width: 21px;
  }